body {
  margin: 40px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
}

.App {
  max-width: 640px;
  margin: 0 auto;
}
nav {
  background: lightseagreen;
  padding: 10px 20px;
  color: purple;
  display: flex;
  align-items: center;
}
nav h1 {
  margin: 0;
  margin-right: auto;
}
nav li {
  display: inline-block;
  margin: 0 0 0 16px;
  cursor: pointer;
}
nav a {
  color: purple;
  text-decoration: none;
}
.song-list ul {
  padding: 0;
}
.song-list li {
  list-style-type: none;
  padding: 10px;
  background: #fff;
  margin: 10px 0;
  cursor: pointer;
}
label,
label span {
  display: block;
  margin: 6px 0;
}
input {
  padding: 6px;
  margin-bottom: 12px;
  border: 3px, red;
}
button {
  background: lightseagreen;
  color: purple;
  border: 3px, purple;
  padding: 6px 8px;
}
